<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.home.model.UserMapper">

    <insert id="insertUserInfo" parameterType="com.study.home.dto.User">
        INSERT INTO USER
        (
            USER_ID
        ,   PASSWORD
        ,   NAME
        ,   EMAIL
        ,   PHONE
        ,   ADDRESS
        ,   DETAIL_ADDRESS
        ,   DELETE_AT
        ,   CREATED_DATE
        ) VALUES (
            #{userId}
        ,   #{password}
        ,   #{name}
        ,   #{email}
        ,   #{phone}
        ,   #{address}
        ,   #{detailAddress}
        ,   'N'
        ,   #{createdDate}
        )
    </insert>

    <select id="selectUserId" parameterType="com.study.home.dto.User" resultType="int">
        SELECT COUNT(*)
        FROM USER
        WHERE USER_ID = #{userId}
        AND PASSWORD = #{password}
        AND DELETE_AT = 'N'
    </select>

    <select id="selectUser" parameterType="com.study.home.dto.User" resultType="com.study.home.dto.User">
        SELECT USER_ID
             , PASSWORD
             , NAME
             , EMAIL
             , PHONE
             , ADDRESS
             , DETAIL_ADDRESS
             , DELETE_AT
             , CREATED_DATE
        FROM USER
        WHERE DELETE_AT = 'N'
    </select>

</mapper>