<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="content">
    <form action="" method="post" id="form">
        ID: <input type="text"     id="user_id"  class="form-control" placeholder="ID"       style="width: 350px;"><br>
        PW: <input type="password" id="password" class="form-control" placeholder="PASSWORD" style="width: 350px;">
        <button type="submit" class="btn btn-primary waves-effect waves-light">로그인</button>
    </form>
</th:block>
</html>